[Unit]
Description=eMMC Writer Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/automatic-TS-emmc-Writer
ExecStart=/usr/bin/python3 /home/pi/automatic-TS-emmc-Writer/emmcWriter.py
Restart=always

[Install]
WantedBy=multi-user.target
